body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
}

section {
  padding: 20px;
  margin: 20px 0;
}

header {
  background-color: #567566;
  color: black;
  padding: 10px 0;
  z-index: 1000;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  padding-right: 100%-1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #567566;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 2px white;
  z-index: 1001;
}

#nav-bar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

#nav-bar a:hover {
  color: #ffcc00;
}

#header-img {
  padding-left: 1rem;
}

.video-container {
  display: flex;
  width: 100%;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  justify-content: center;
  text-align: center;
  margin: 3rem 0;
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .video-container {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 420px) {
  * {
    background-color: antiquewhite;
  }

  header,
  #nav-bar a {
    font-size: 14px;
  }
}
