* {
  background-color: #5f9ea0;
}

#navbar {
  position: fixed;
}

#welcome-section {
  height: 100vh;
}

/* at least one media query */

/* use this colour and combinations: https://coolors.co/5f9ea0 */
